:root {
    --pane-background-color: brown;

    --selectable-color: cadetblue;
    --hover-color: darkslategrey;
    --selected-color: dodgerblue;
}

html,
body,
main {
    height: 100%;
    width: 100%;
    margin: 0;
    font: 16px "Helvetica Light", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}



/* START GENERAL RIGHT PANE */
#right-pane {
    background-color: rgb(251, 253, 255);
    border-left: 1px solid darkgray;
    padding: 4px 8px;
}

.right-sub-pane {
    font-size: 1em;
    padding: 16px;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
    margin: 8px 0;
}

/* START INFO PANE */
#info-pane {

}





