/* 
#system-path #prefix-label {
    color: rgb(117, 117, 117);
    padding: 0px 4px;
    border-radius: 4px;
    font-weight: bold;
}

#system-path #prefix-label.selected {
    color: var(--selected-color);
}

#system-path #prefix-label:hover {
    cursor: pointer;
    color: var(--hover-color);
} */

#system-path #prefix-label,
#system-path .system-component-separator,
#system-path .system-component {
    margin: 0px 2px;
    font-weight: bold;
    color:rgb(83, 83, 83);
}

#system-path #prefix-label.selectable,
#system-path .system-component.selectable {
    color: var(--selectable-color);
}

#system-path #prefix-label.selectable:hover,
#system-path .system-component.selectable:hover {
    cursor: pointer;
    color: var(--hover-color);
}

#system-path #prefix-label.selected,
#system-path .system-component.selected {
    color: var(--selected-color);
}

#selected-node-details {
    overflow: auto;
    height: 300px;
}


#module-children li .node-sub-module {
    font-weight: bold;
    color: var(--selectable-color);;
}

#module-children li .node-sub-module:hover,
#module-children li .node-sub-module.hovering {
    cursor: pointer;
    color: var(--hover-color);
}

/* #module-children li .node-sub-module.directory {
    color:cadetblue;
}

#module-children li .node-sub-module.file {
    color:cadetblue;
} */



#node-file-information td {
    padding: 4px 8px;
    font-size: 1.25em;
}

